.SidebarOption {
    display: flex;
    align-self: center;
    padding: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.SidebarOption:hover {
    background-color: azure;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}

.SidebarOption>.MuiSvgIcon-root {
    padding: 50 px;
}

.SidebarOption>h2 {
    font-weight: 5000;
    font-size: 30px;
    margin-right: 10px;
}